{% extends 'base.html.twig' %}

{% block title %}Nueva Publicación{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Crear Nueva Publicación</h1>

    {{ include('post/_form.html.twig') }}

    <div style="margin-top: 1.5rem;">
        <a href="{{ path('app_post_index') }}" class="btn btn-secondary">Volver al inicio</a>
    </div>
</div>
{% endblock %}
